/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2015, 11:56:20 AM
    Author     : jfigueroapcs
*/

.redes a {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: 130px;
}
.redes.twitter a{background-image: url(../images/general/redes.png);background-position: 2px 4px;transition: 1s all;}
.redes.facebook a{background-image: url(../images/general/redes.png);background-position: -42px -1px;transition: 1s all;}
.redes.instagram a{background-image: url(../images/general/redes.png);background-position: -84px 4px;transition: 1s all;}

.redes.twitter a:hover{background-image: url(../images/general/redes.png);background-position: 2px -42px;transition: 1s all;}
.redes.facebook a:hover{background-image: url(../images/general/redes.png);background-position: -42px -44px;transition: 1s all;}
.redes.instagram a:hover{background-image: url(../images/general/redes.png);background-position: -84px -42px;transition: 1s all;}
.pr div .producto{height: 320px;background: #efeaff;position: relative;overflow: hidden;}
.pr div .producto .producto-imagen {
  width: 80%;
  height: 216px;
  background: white;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}
.home-producto.tienda, .home-producto.tienda  ul{
  height: auto;
}
.home-producto.tienda .price {
  height: 35px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  line-height: 2.5;
}
.added,a.added_to_cart.wc-forward{display: none;}
a.checkout-button.button.alt.wc-forward{background: @naranja;}
a.remove{font-size: 20px;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  border: 2px solid;
  display: block;
  line-height: 1;
  font-weight: bold;
  color: #ff4800;}
a.remove.e:hover {
  border: 2px solid red !important;
  line-height: 0.8 !important;
}
a.remove.e {
  border: 2px solid red !important;
  line-height: 0.8 !important;
  transition: 1s all;
    margin: 0 auto;
}
td.product-thumbnail {
  background: #efeaff;
  text-align: center;
}
table.shop_table.cart thead {
  background: #efeaff;
}
.woocommerce form{background: white;}
table.shop_table.cart *,.woocommerce table.shop_table{
  border: 0px;
}
a.checkout-button.button.alt.wc-forward:hover {
  background: #f15a29;
}